.Rproj.user
.Rhistory
.RData
.Ruserdata
/raw/
/outTable/
/outData/
/outFigs/
/outFigsCZ/
/outShare/
/outDataSPEI/
/outDataShare/
/outGifsSPEI/
/outTableSPEI/
/outFigSPEI/
/outFigsTest/
/reports/
*.html
combined_gam_plots.png
